mixin nav-content()
    ul
        li: a(href="#about") About
        li: a(href="#about") Youtube
        li: a(href="#about") Mentoring
        li: a(href="#about") Articles

.mobile-nav
    +nav-content()

header
  .header-position
    h1.logo Dima C

    nav.site-nav
      +nav-content()
    

    input(type="text")
    
    .mobile-nav-toggle: span