header
  .header-position
    h1.logo Dima C

    nav.site-nav
      ul
        li: a(href="#about") About
        li: a(href="#about") Youtube
        li: a(href="#about") Mentoring
        li: a(href="#about") Articles
    


    span some text here